#evmeContainer #header {
  position: relative;
  z-index: 50;
}

#evmeContainer #search-header {
  position: absolute;
  top: 0;
  left: 1rem;
  right: 1rem;
  height: 4rem;
  transform: translateY(3.6rem);
  z-index: 51;
  background: transparent url('/everything.me/images/searchbar.png') 50% 50% / 100% 100% no-repeat;
}
    #evmeContainer #search-q {
      padding: 1rem 1.8rem 1rem 0;
      width: 100%;
      font-size: 2.6rem;
      font-weight: 300;
      color: #b4dae7;
      z-index: 10;
      background: transparent;
      -moz-box-sizing: border-box;
    }
    #evmeContainer #search-q:focus {
      outline: none;
    }
    #evmeContainer #default-text {
      position: absolute;
      top: 50%;
      left: 0.7rem;
      height: 3.2rem;
      line-height: 3.2rem;
      margin-top: -1.6rem;
      font-size: 2.3rem;
      color: #fff;
      text-shadow: 0 1px 0 #000;
      pointer-events: none;
    }
    #evmeContainer #default-text:after {
      content: "|";
      display: inline-block;
      font-weight: 200;
      opacity: .8;
      -moz-animation: evmeCursor 1.2s infinite linear;
    }
    
    @-moz-keyframes evmeCursor {
      0% {
        visibility: visible;
      }
      50% {
        visibility: hidden;
      }
      100% {
        visibility: hidden;
      }
    }
    
    .evme-keyboard-visible #evmeContainer #search-header,
    .evme-has-query #evmeContainer #search-header {
      background: none;
      transform: translateY(0.5rem);
    }
    .evme-has-query:not(.evme-keyboard-visible):not(.evme-helper-didyoumean) #evmeContainer #search-header {
      transform: translateY(2.8rem);
    }
    
    .evme-keyboard-visible #evmeContainer #default-text,
    .evme-has-query #evmeContainer #default-text {
      display: none;
    }
        
    #evmeContainer #button-clear {
        position: absolute;
        top: 1.7rem;
        right: 0.4rem;
        z-index: 30;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        font-size: 0;
        background: url(/everything.me/images/imageclose.png) no-repeat 0 0/1.7rem;
        -moz-user-select: none;
        display: none;
    }
    #evmeContainer .clear-visible #button-clear {
        display: block;
    }
        #evmeContainer .clear-visible #button-clear:before {
            content: "";
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            left: -0.8rem;
            bottom: -0.8rem;
        }
    
#evmeContainer #homepage-search-text {
    position: absolute;
    top: 8.8rem;
    left: 1.6rem;
    cursor: pointer;
    text-indent: 0.6rem;
    z-index: 305;
    font-size: 1.3rem;
    color: #444;
    pointer-events: none;
    display: none;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
#evmeContainer #homepage-search-text:before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2rem;
    right: -2rem;
    bottom: -2rem;
}

#evmeContainer.screen-homepage #homepage-search-text {
    display: block;
}

#evmeContainer.loading-app #search-header  {
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0 !important;
}
