#evmeContainer {
    position: fixed;
    overflow: hidden;
    margin: 0;
    padding: 0;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    background: transparent;
    background-size: 100% 100%;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: left;
}

#evmeContainer div, #evmeContainer p:not(.noreset), #evmeContainer span,
#evmeContainer h1, #evmeContainer h2, #evmeContainer h3, #evmeContainer h4,
#evmeContainer a, #evmeContainer em, #evmeContainer img, #evmeContainer b,
#evmeContainer ol, #evmeContainer ul, #evmeContainer li,
#evmeContainer fieldset, #evmeContainer form, #evmeContainer label, #evmeContainer legend,
#evmeContainer input, #evmeContainer textarea,
#evmeContainer table, #evmeContainer tr, #evmeContainer th, #evmeContainer td,
#evmeContainer canvas {
    margin: 0;
    padding: 0;
    border: 0;
}

#evmeContainer a {
    text-decoration: none;
    color: inherit;
}
#evmeContainer ul {
    list-style-type: none;
}

#evmeContainer .textinput {
    border: none;
    background: #fff;
    width: 100%;
    height: 2.9rem;
    font-size: 1.6rem;
    color: #000;
    padding: 0 0.4rem;
    margin: 0 -0.4rem;
    border-radius: 0.6rem;
    box-shadow: 0 0 0 0.1rem rgba(0, 0, 0, .4), 0 0.2rem 0 0 rgba(255, 255, 255, .2), 0 0.1rem 0.2rem 0 rgba(0, 0, 0, .4) inset;
}
#evmeContainer .screen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .5);
    z-index: 500;
}

#evmeContainer .arrow-next {
    font-weight: 600;
    font-size: 1.5rem;
    text-shadow: 0 0.1rem 0 rgba(255, 255, 255, .7);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 1.3rem;
    background: #a2d1e1;
    cursor: pointer;
    border: 0.1rem solid #8dc1d2;
    background: -moz-linear-gradient(center top, #d1e8f0 0, #89c4d8 100%);
    box-shadow: 0 0.1rem 0 0 rgba(255, 255, 255, .4) inset;
}
    #evmeContainer .arrow-next:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -0.4rem 0 0 -0.5rem;
        width: 0.5rem;
        height: 0.5rem;
        border-top: 0.3rem solid #000;
        border-right: 0.3rem solid #000;
        transform: rotate(45deg);
        z-index: 55;
        box-shadow: 0.1rem 0 0 0 #ffffff, 0 0.1rem 0 0 #ffffff inset;
    }

#evmeContainer .bbutton {
    display: inline-block;
    color: #617075;
    text-shadow: 0 0.1rem 0 rgba(255, 255, 255, .5);
    height: 1.9rem;
    line-height: 1.9rem;
    text-align: center;
    padding: 0 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    border: 0.1rem solid #82bccf;
    background: #def;
    background: -moz-linear-gradient(center top, #cfe7ef 0, #bfdee9 50%, #b3dae7 50%, #8fc7da 100%);
    box-shadow: 0 0.1rem 0 0 rgba(255, 255, 255, .2) inset, 0 -0.1rem 0 0 rgba(0, 0, 0, .05) inset;
    border-radius: 0.4rem;
    cursor: pointer;
    -moz-user-select: none;
}
#evmeContainer .bbutton.active {
    color: #fff;
    border-color: #6fadc2;
    text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .5);
    background: -moz-linear-gradient(center top, #07a7db 0, #038cb8 50%, #0384ad 50%, #017297 100%);
}

#evmeContainer .pbutton {
    display: inline-block;
    cursor: pointer;
    padding: 0.6rem 1.2rem;
    color: #fff;
    text-shadow: 0 -0.1rem 0 rgba(0, 0, 0, .5);
    border: 0.1rem solid #611d4b;
    border-radius: 0.6rem;
    background: #933e77;
    background: -moz-linear-gradient(center top, #a8548d 0, #8d3972 100%);
    box-shadow: 0 0.1rem 0.1rem 0 rgba(255, 255, 255, .3) inset;
}

/* When clicking on an app */
.loading-app #header {
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0 !important;
}

#bgimage-overlay .content .close,
.app-icon:after,
#shortcuts .handle b:before,
#shortcuts .done b:before,
#shortcuts .add:before,
#shortcuts-panel ul .shortcut .remove,
.shortcut .remove,
.fbbutton .button-real .icon:before,
#shortcuts-customize:before,
#shortcuts-favorites li.on:before,
#close-category
{
    background-image: url('/everything.me/images/sprite.png');
    background-repeat: no-repeat;
}



/* Apps.css */
#evmeContainer .evme-apps {
    position: absolute;
    top: 8.1rem;
    left: 0;
    right: -2rem;
    bottom: 0;
    z-index: 50;
    overflow: hidden;
}
#evmeContainer.loading-app .evme-apps {
    pointer-events: none;
}

#evmeContainer.empty-query #evmeApps {
    display: none;
}

#evmeContainer .evme-apps ul {
    position: absolute;
    left: 0;
    right: 2rem;
    min-height: 100%;
    padding-bottom: 1rem;
}
#evmeContainer .evme-apps.has-more ul:not(.connection-error) {
    padding-bottom: 4.5rem;
}
#evmeContainer .evme-apps .loading-apps {
    position: absolute;
    top: 50%;
    left: 0;
    right: 2rem;
    text-align: center;
    height: 10rem;
    line-height: 10rem;
    margin-top: -5.1rem;
    display: none;
    pointer-events: none;
}
#evmeContainer .show-loading-apps .loading-apps {
    display: block;    
}

#evmeContainer .evme-apps ul li {
    clear: both;
    width: 25%;
    height: 8.9rem;
    padding-top: 1rem;
    text-align: center;
    cursor: pointer;
    display: inline-block;
    vertical-align: top;
    transition: transform .2s linear;
}

#evmeContainer .evme-apps ul .installed-separator {
    display: block;
    width: 100%;
    height: 0.1rem;
    padding: 0;
    margin: .2rem 0 0;
    box-shadow: 0 -0.1rem 0 0 rgba(255, 255, 255, .4), 0 -0.2rem 0 0 rgba(0, 0, 0, .4);
}

#evmeContainer .evme-apps:not(.has-installed) .has-installed-visible {
    display: none;
}
    #evmeContainer .evme-apps ul li canvas {
        transition: transform .2s linear;
    }
#evmeContainer .evme-apps ul #button-more {
    position: absolute;
    top: auto;
    bottom: 1.5rem;
    left: 0;
    height: auto;
    color: #b4dae7;
    font-size: 1.5rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.1rem #000;
    cursor: pointer;
    z-index: 100;
    opacity: 0;
}
#evmeContainer .evme-apps ul #button-more.visible {
    opacity: 1;
}

#evmeContainer .evme-apps ul li:nth-child(4n+1) {
    clear: both;
}
#evmeContainer .evme-apps ul li.new:not(.installed) canvas {
    transform: scale(0);
}

#evmeContainer .evme-apps ul li#more-apps {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0.5rem;
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    color: #fff;
    font-size: 1.6rem;
    font-weight: 600;
    padding: 0;
    z-index: 50;
    cursor: default;
    box-shadow: 0 -0.1rem 0 0 rgba(255, 255, 255, .4), 0 -0.2rem 0 0 rgba(0, 0, 0, .4);
    transition: none;
}
#evmeContainer .evme-apps ul.connection-error #more-apps {
    display: none;
}

#evmeContainer #evmeApps .connection-message {
    width: 100%;
}
#evmeContainer #evmeApps.has-installed .connection-message,
#evmeContainer #evmeApps .connection-message:first-child:last-child {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
}
#evmeContainer #evmeApps.has-installed .connection-message {
    transform: translateY(3.5rem);
}   
#evmeContainer #evmeApps.loading-more .connection-message {
    position: static;
    top: auto;
    left: auto;
    right: auto;
    margin-top: 1rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: 0 -0.1rem 0 0 rgba(255, 255, 255, .4), 0 -0.2rem 0 0 rgba(0, 0, 0, .4);
    transform: translateY(0);
}
#evmeContainer.loading-app .connection-message {
    opacity: 0;
}

body:not(.istouch) .evme-apps {

}
body:not(.istouch) .evme-apps ul {
    overflow: hidden;
}
body:not(.istouch) .evme-apps ul li:nth-child(4n+1) {
    clear: both;
}
body:not(.istouch) .evme-apps ul li:nth-child(5n+1) {
    clear: none;
}

/* Loading an app */
#evmeContainer.loading-app .evme-apps ul li, #evmeContainer.loading-app .evme-apps ul #button-more.visible, #evmeContainer.loading-app .evme-apps.has-installed ul:before {
    opacity: 0;
}
#evmeContainer.loading-app .evme-apps ul li.inplace {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    overflow: visible;
    margin-top: 0 !important;
    transition: transform .2s linear;
}
#evmeContainer.loading-app .evme-apps ul li.inplace .doat-loading {
    position: absolute;
    top: -0.8rem;
    left: 50%;
    margin-left: -3rem;
}

#evmeContainer.loading-app .evme-apps ul {
    min-height: 100%;
}

/* BackgroundImage.css */
#search-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    opacity: 0;
    transition: opacity .3s linear;
}
.evme-displayed #search-overlay {
    opacity: 1;
}
#evmeContainer #search-header.animate,
#evmeContainer #header.animate,
#evmeContainer #evmeApps.animate {
    transition: opacity .3s linear;
}
    #search-overlay .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        background-position: 50% 0;
        background-size: cover;
    }
    #search-overlay .img {
        transition: opacity .3s linear;
        transform: translate3d(0, 0, 0) rotate(0deg) scale(1);
    }
    #search-overlay .img.visible {
        opacity: 0.4;
    }
    #search-overlay .img.default-image {
        background: #000;
    }
    #search-overlay .img.default-image.visible {
        opacity: 1;
    }
    #search-overlay.default .img.default-image.visible {
        opacity: .4;
    }

#bgimage-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: opacity .5s linear;
    z-index: 1;
}
#bgimage-overlay.ontop {
    z-index: 500;
}
#bgimage-overlay.active {
    opacity: 1;
}
    #bgimage-overlay .img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-position: 50% 0;
        background-size: cover;
    }
    #bgimage-overlay .content {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 4.2rem;
        line-height: 4.2rem;
        padding: 0 4rem 0 1rem;
        z-index: 20;
        cursor: pointer;
        background: rgba(0, 0, 0, .8);
     }
        #bgimage-overlay .content h2 {
            font-weight: 600;
            color: #b4dae7;
            font-size: 1.5rem;
            height: 1.7rem;
            margin-top: 0.5rem;
            line-height: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            display: none;
        }
        #bgimage-overlay.nosource .content h2 {
            margin-top: 0;
            height: 4.3rem;
            line-height: 4.3rem;
        }
        #bgimage-overlay .content .source {
            font-weight: 600;
            color: #fff;
            font-size: 1.3rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
            #bgimage-overlay .content .source span {
                text-decoration: underline;
            }
        #bgimage-overlay .content .close {
            background: url('../../images/imageclose.png') no-repeat 50% 50%/1.7rem;
            position: absolute;
            top: 50%;
            right: 0.5rem;
            z-index: 2;
            width: 3.2rem;
            height: 3.2rem;
            margin-top: -1.6rem;
            cursor: pointer;
        }
.fullscreen-bgimage #search-header {
    display: none;
}

#evmeContainer #search-overlay .default-image.visible {
    opacity: 0;
}
#evmeContainer #search-overlay.default .default-image.visible {
    opacity: 1;
}

/* Banner.css */
#evmeBanner {
  z-index: -1;
  opacity: 0;
  -moz-transition: all 600ms ease;
}
#evmeBanner.visible {
  z-index: 10001;
  opacity: 1;
  -moz-transition: all 600ms ease;
}
#evmeBanner > p > strong {
  white-space: nowrap;
}

/* Shortcuts.css */
#evmeContainer #page-categories {
    color: #fff;
    text-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.3),
                 0 0.1rem 0.1rem rgba(0, 0, 0, 0.6),
                 0 0.1rem 0.2rem rgba(0, 0, 0, 0.7);
}

#evmeContainer #shortcuts {
    background: transparent;
    position: absolute;
    top: 8rem;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    display: none;
    overflow: hidden;
    -moz-transition: opacity .2s linear;
    transition: opacity .2s linear;
}

    #evmeContainer #shortcuts-loading {
        position: absolute;
        top: 50%;
        right: 50%;
        width: 0;
        height: 0;
        z-index: 650;
        display: none;
    }
    #evmeContainer #shortcuts-loading.visible {
        display: block;
    }

    #evmeContainer #shortcuts #shortcuts-list {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    #evmeContainer #shortcuts #shortcuts-list ul {
        padding: 0.5rem 0 0 0;
        overflow: hidden;
    }
    #evmeContainer .shortcut {
        position: relative;
        display: inline-block;
        vertical-align: top;
        z-index: 10;
        padding: 0.5rem 0 0.8rem 0;
        width: 25%;
        height: 8rem;
        text-align: center;
    }
        #evmeContainer .shortcut .remove {
            position: absolute;
            top: -0.5rem;
            left: .5rem;
            right: 0;
            height: 2.5rem;
            z-index: 100;
            display: none;
            cursor: pointer;
            background: transparent url('/resources/images/delete.png') no-repeat left top/2.4rem;
        }
    #evmeContainer .shortcut.disabled {
        opacity: 0;
        -moz-transition: none;
        transition: none;
    }
    #evmeContainer .shortcut.remove {
        opacity: 0;
    }
    #evmeContainer .shortcut.placeholder {
        position: absolute;
        top: 0;
        left: 0.2rem;
        right: 0.2rem;
        height: 5.5rem;
        z-index: 15;
        background: rgba(66, 192, 230, .4);
        border: 0.1rem solid #4abcd9;
        -moz-transition: none;
        transition: none;
    }
        #evmeContainer .shortcut .remove {
            display: none;
        }
        #evmeContainer .shortcut .thumb {
            display: block;
            position: relative;
            height: 4.8rem;
            z-index: 10;
            -moz-transform-origin: 50% 50%;
        }
        #evmeContainer .shortcut.add .thumb {
            background: url(/everything.me/images/add.png) 50% no-repeat;
            background-size: 3rem 3.1rem;
            opacity: .7;
        }
        #evmeContainer .shortcut b {
            position: relative;
            display: block;
            font-size: 1.2rem;
            z-index: 50;
            color: #fff;
            font-weight: 600;
            text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, .6);
        }
        #evmeContainer.shortcuts-customize #shortcuts .shortcut.add {
            opacity: 0;
            pointer-events: none;
            display: none;
        }
        #evmeContainer.shortcuts-customize #shortcuts .apps-group span {
            -moz-transform: scale(.7) !important;
            transform: scale(.7) !important;
        }

.evme-display-shortcuts #evmeContainer #shortcuts {
    display: block;
}

#evmeContainer #shortcuts-customize {
    display: none;
}


#evmeContainer.shortcuts-customizing #shortcuts #shortcuts-list:not([data-scrolling^=true]):not([data-touched^=true]) .shortcut .thumb{
    -moz-animation: shake 800ms infinite ease-out;
}
#evmeContainer.shortcuts-customizing .shortcut .remove {
    display: block;
}
#evmeContainer.shortcuts-customizing .shortcut.add {
    display: none;
}

#evmeContainer.shortcuts-customizing .shortcut.remove .thumb {
    -moz-animation: remove 150ms 1;
}

@-moz-keyframes shake {
  0%   { -moz-transform: scale(1) translateZ(0); }
  25%  { -moz-transform: scale(1.05) translateZ(0); }
  50%  { -moz-transform: scale(1) translateZ(0); }
  75%  { -moz-transform: scale(0.95) translateZ(0); }
  100% { -moz-transform: scale(1) translateZ(0); }
}
@-moz-keyframes remove {
  0%   { -moz-transform: scale(1) translateZ(0); opacity: 1; }
  100% { -moz-transform: scale(1.1) translateZ(0); opacity: 0; }
}

/* ShortcutsCustomize.css */
#evmeContainer #shortcuts-select {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    z-index: 0;
    pointer-events: none;
    border: 0;
}

#evmeContainer.shortcuts-customizing #search {
    pointer-events: none;
    -moz-animation: fadeout .2s linear;
    -moz-animation-fill-mode: forwards;
}

@-moz-keyframes fadeout {
    from {
        opacity: 1;
    }
    to {
        opacity: .5;
    }
}

#evmeContainer #shortcuts-customize-loading {
    z-index: 800;
}

#evmeContainer #shortcuts-customize-loading p {
    text-align: center;
    overflow: hidden;
}

/* Searchbar.css */
#evmeContainer #header {
    position: relative;
    z-index: 50;
    min-height: 8rem;
}
#evmeContainer:not(.empty-query) #header,
#evmeContainer.keyboard-visible #header {
    background: rgba(0, 0, 0, .3);
}
#evmeContainer #search-header {
    position: absolute;
    top: 0;
    left: 0.6rem;
    right: 0.6rem;
    height: 3.1rem;
    z-index: 51;
    padding-top: 0.9rem;
}
    #evmeContainer #search-rapper {
        position: absolute;
        top: 0.9rem;
        left: 0;
        right: 0;
        z-index: 25;
        vertical-align: middle;
        height: 2.8rem;
        line-height: 3rem;
    }
    #evmeContainer.empty-query:not(.keyboard-visible) #search-rapper {
        transform: translate3d(0, 2.3rem, 0);
        height: 3.6rem;
        line-height: 3.6rem;
        left: 0.5rem;
        right: 0.5rem;
    }
    #evmeContainer.empty-query:not(.keyboard-visible) #search-q {
        height: 3.6rem;
        line-height: 3.6rem;
    }
    #evmeContainer.empty-query:not(.keyboard-visible) #search-q-bg {
        background-position: 98% 1.1rem;
    }
    
    #evmeContainer #search-q,
    #evmeContainer #search-q-bg,
    #evmeContainer #search-selection {
        position: relative;
        font-size: 1.5rem;
        vertical-align: middle;
        padding: 0 0.4rem;
        text-transform: lowercase;
        height: 100%;
        -moz-box-sizing: border-box;
    }
    #evmeContainer #search-header fieldset {
        height: 100%;
        line-height: inherit;
        background: none;
        border-radius: 0;
        border: none;
    }
    #evmeContainer #search-q {
        border: none;
        z-index: 10;
        padding: 0.2rem 1.8rem 0.4rem 0;
        width: 100%;
        height: 2.6rem;
        top: -0.1rem;
        display: inline;
        background: transparent;
    }
    #evmeContainer #search-q-bg {
        border-radius: 0.2rem;
        box-shadow: 0.1rem 0.1rem 0 0 #ccc inset, 0 0 0 0.1rem rgba(0, 0, 0, .3);
        background: #ffffff url('/everything.me/images/search-icon.png') no-repeat 98% 0.7rem/1.6rem;
    }
    #evmeContainer .clear-visible #search-q-bg {
        background-image: none;
    }
    #evmeContainer #search-q:focus {
        outline: none;
    }
        
    #evmeContainer #button-clear {
        position: absolute;
        top: 1.4rem;
        right: 0.4rem;
        z-index: 30;
        width: 2rem;
        height: 2rem;
        cursor: pointer;
        font-size: 0;
        background: url(/everything.me/images/search-clear.png) no-repeat 0 0/1.7rem;
        -moz-user-select: none;
        display: none;
    }
    #evmeContainer .clear-visible #button-clear {
        display: block;
    }
        #evmeContainer .clear-visible #button-clear:before {
            content: "";
            position: absolute;
            top: -1.5rem;
            right: -1.5rem;
            left: -0.8rem;
            bottom: -0.8rem;
        }
    
    #evmeContainer #default-text {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0.7rem;
        color: #bbb;
        text-transform: none;
        display: none;
    }
    #evmeContainer.empty-query #default-text {
        display: block;
    }
    
#evmeContainer #homepage-search-text {
    position: absolute;
    top: 8.8rem;
    left: 1.6rem;
    cursor: pointer;
    text-indent: 0.6rem;
    z-index: 305;
    font-size: 1.3rem;
    color: #444;
    pointer-events: none;
    display: none;
    -moz-transition: all .2s linear;
    transition: all .2s linear;
}
#evmeContainer #homepage-search-text:before {
    content: "";
    position: absolute;
    top: -2rem;
    left: -2rem;
    right: -2rem;
    bottom: -2rem;
}

#evmeContainer.screen-homepage #homepage-search-text {
    display: block;
}

#evmeContainer.loading-app #search-header  {
    -moz-transition: all .2s linear;
    transition: all .2s linear;
    opacity: 0 !important;
}

/* Helper.css */
#helper-header {
    position: absolute;
    left: 0;
    top: 3.9rem;
    right: 0;
}
.empty-query:not(.keyboard-visible) #helper-header {
    display: none;
}

#search-title {
    position: absolute;
    top: 0;
    left: 0.6rem;
    right: 0.6rem;
    color: #fff;
    z-index: 50;
    height: 3.8rem;
    line-height: 3.8rem;
    font-size: 1.6rem;
    font-weight: 600;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 1), 0 0.1rem 0.1rem #000;
    cursor: pointer;
    overflow: hidden;
    visibility: visible;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
    #search-title b {
        font-weight: inherit;
    }
#search-title.close {
    display: none;
}
    #search-title .query {
        position: relative;
        margin-left: 0.5rem;
        color: #b4dae7;
        text-transform: lowercase;
    }
        #search-title .type {
            color: #b4dae7;
            font-style: normal;
            font-weight: normal;
            margin-left: 0.5rem;
        }
        #search-title.notype .type {
            display: none;
        }
    #search-title.notype {
        padding-right: 2.6rem;
    }

#helper-rapper {
    position: absolute;
    top: 0.4rem;
    left: 0.6rem;
    right: 0.6rem;
    height: 2.8rem;
    line-height: 2.6rem;
    color: #fff;
    font-size: 1.5rem;
    z-index: 55;
    overflow: hidden;
    transform-origin: 50% 50%;
}

#helper-rapper.animate:not(.anim-disabled) {
    transition: all .3s ease;
}
#helper-rapper.close {
    transform: scale(0, 0);
    right: 1.2rem;
    display: none;
}
    #helper-rapper.close ul {
        display: none;
    }
    
    #helper-tip {
        position: absolute;
        left: 2.2rem;
        bottom: 0.1rem;
        overflow: visible;
        z-index: 300;
        display: none;
        transform: scale(.7, 1);
        transition: all .2s ease;
    }
    #helper-tip b {
        position: absolute;
        top: 0;
        left: 0;
        height: 1.3rem;
        width: 1.3rem;
        background: #fff;
        border-left: 0.1rem solid #000;
        border-top: 0.1rem solid #000;
        transform: rotate(45deg);
        box-shadow: -0.4rem -0.4rem 0.4rem -0.2rem rgba(0, 0, 0, .4);
    }

#helper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 130%;
    margin-bottom: -23%; /* gets rid of the scrollbar */
    overflow: hidden;
}
#helper.empty {
}
#helper.animate {
    transition: transform .4s ease;
}
    #helper ul {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        overflow: hidden;
        background-size: 5rem;
        text-transform: lowercase;
        white-space: nowrap;
        -moz-box-sizing: border-box;
    }
    #helper ul.start {
        transform: translate(32rem, 0) !important;
    }
    #helper-rapper:not(.anim-disabled) #helper ul.anim {
        transition: all .4s linear !important;
    }
        #helper ul li {
            position: relative;
            display: inline-block;
            height: 100%;
            padding: 0.2rem 1rem 0.4rem;
            cursor: pointer;
        }
        #helper ul li b {
            font-weight: 600;
        }
        #helper ul li:after {
            content: "";
            position: absolute;
            top: 1.3rem;
            left: -0.3rem;
            width: 0.4rem;
            height: 0.4rem;
            background: #fff;
            border-radius: 0.2rem;
        }
        #helper ul li:first-child {
            font-weight: 600;
            color: #00e4ff;
            padding-left: 0.5rem;
        }
        #helper ul li:last-child {
            padding-right: 0;
        }
        #helper ul li:first-child b {
            font-weight: 600;
        }
        #helper ul li:nth-child(1):after {
            display: none;
        }
        #helper.default ul li:first-child {
            font-weight: inherit;
            color: inherit;
        }
        #helper ul.default li, #helper ul.history li {
            font-weight: 600;
        }
        #helper ul li.label {
            color: #888;
            font-style: italic;
            font-weight: normal;
            padding-right: 0.2rem;
            cursor: default;
            text-transform: none;
        }
        #helper ul.text li.label {
            font-style: normal;
            color: #888;
        }
        #helper ul li.text {
            color: #fff;
            cursor: default;
            text-transform: none;
        }
        #helper ul.didyoumean li.label {
            color: #ff1f1f;
        }
        #helper ul li.label + li {
            padding-left: 0.5rem;
        }
        #helper ul li.label + li:after {
            display: none;
            padding-left: 0;
        }
        #helper ul li.link {
            color: #00e4ff !important;
            font-weight: normal;
            cursor: pointer;
            text-transform: none;
        }
        #helper ul li.link.disabled {
            color: #999 !important;
        }
        #helper ul li.link.strong {
            font-weight: 600 !important;
        }
        

/* ConnectionMessage.css */
#evmeContainer .connection-message {
    width: 100%;
    padding: 0 5rem;
    color: #fff;
    font-size: 1.6rem;
    text-align: center;
    -moz-box-sizing: border-box;
}