.evmeScope {
    position: absolute;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    font-weight: normal;
    font-size: 1.2rem;
    text-align: left;
    height: calc((100% - 7.5rem)/4); /* height of footer */
}

.evmeScope div, .evmeScope p:not(.noreset), .evmeScope span,
.evmeScope h1, .evmeScope h2, .evmeScope h3, .evmeScope h4,
.evmeScope a, .evmeScope em, .evmeScope img, .evmeScope b,
.evmeScope ol, .evmeScope ul, .evmeScope li,
.evmeScope fieldset, .evmeScope form, .evmeScope label, .evmeScope legend,
.evmeScope input, .evmeScope textarea,
.evmeScope table, .evmeScope tr, .evmeScope th, .evmeScope td,
.evmeScope canvas {
    margin: 0;
    padding: 0;
    border: 0;
}

.evmeScope a {
    text-decoration: none;
    color: inherit;
}
.evmeScope ul {
    list-style-type: none;
}

.evmeScope select {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    pointer-events: none;
    border: 0;
    z-index: 800;
}
