#homescreenStatus {
  z-index: 10001;
  -moz-transition: -moz-transform 300ms ease;
  -moz-transform: translateY(100%);
}

#homescreenStatus.visible {
  -moz-transform: translateY(0);
}

#homescreenStatus > p > strong {
  white-space: nowrap;
}